transformers
Pillow
requests
Python-IO
pytesseract
apiclient
youtube_transcript_api
feedparser
bs4
urllib3
dateparser
requests
newspaper3k
google-api-python-client
torchtext
googletrans==3.1.0a0
torch
torchtext
flask
pymongo
flask-cors
bson
twilio